@model CategoryViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Are you sure To Delete @Model.Name Category</h1>
<br />
<form asp-action="Delete">
    <partial name="PartialViews/_DeleteDetailsPartialView"/>
    <input type="submit" value="Delete" class="btn btn-danger"/>
    <a asp-action="Index"  class="btn btn-light"> Cancel</a>
</form>

