@using BookStore.PL.ViewModels
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="Login">

			<input asp-for="Email" placeholder="Email">
			<span asp-validation-for="Email" class="text-danger"></span>
			<br />
			<input asp-for="Password" placeholder="Password">
			<span asp-validation-for="Password" class="text-danger"></span>
			<br />
			<div class="wthree-text">
				<label class="anim">
					<input asp-for="RememberMe" class="checkbox">
					<span>RememberMe</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNIN">
		</form>
		<p>Don't have an Account? <a asp-action="Register"> Sign Up </a></p>
		<p><a asp-action="ForgetPassword"> Forget Password </a></p>

	</div>
</div>
@section Scripts
{
	<partial name="_ValidationScriptsPartial"></partial>
}


