@using BookStore.PL.ViewModels
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div asp-validation-summary="All" class="text-danger"></div>
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="Register">
			<input asp-for="FName" placeholder="Your First Name">
			<span asp-validation-for="FName" class="text-danger"></span>
			<br />

			<input asp-for="LName" placeholder="Your Last Name">
			<span asp-validation-for="FName" class="text-danger"></span>
			<br />

			<input asp-for="Email" placeholder="Email">
			<span asp-validation-for="Email" class="text-danger"></span>
			<br />

			<input asp-for="Password" placeholder="Password">
			<span asp-validation-for="Password" class="text-danger"></span>
			<br />

			<input asp-for="ConfirmPassword" placeholder="Confirm Password">
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			<br />

			<div class="wthree-text">
				<label class="anim">
					<input asp-for="IsAgree" class="checkbox">
					<span>I Agree To The Terms & Conditions</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNUP">
		</form>
		<p>Do you have an Account? <a asp-action="Login"> Login Now!</a></p>
	</div>
</div>
@section Scripts
{
	<partial name="_ValidationScriptsPartial"></partial>
}




