@using BookStore.PL.ViewModels
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword">
			<div asp-validation-summary="All"></div>
			<input asp-for="newpassword" placeholder="New Password">
			<span asp-validation-for="newpassword" class="text-danger"></span>
			<br />
			<input asp-for="confirmpassword" placeholder="Confirm Password">
			<span asp-validation-for="confirmpassword" class="text-danger"></span>
			<br />
			<input type="submit" value="Reset">
		</form>
	</div>
</div>
@section Scripts
{
	<partial name="_ValidationScriptsPartial"></partial>
}

